p(id='about').
	「要一起去北大武嗎？」<br>
	「好啊，什麼時候？」<br>
	「下個月吧，我先來看看檜谷還有沒有床位！」<br>
	「恩... 喔不～～ 檜谷看個床位資訊竟然還要先登入網站，然後再點一堆連結，最後再來個超級久的讀取！」<br>
	「啊～ 要是有個網站能先幫我們查好這些資料暫存起來就好了」<br><br>
	於是乎，身為一位工程師，隨手寫出一個自己想要的網站也是件很合理的事情嘛，台灣山屋餘額查詢網，就這樣子粉墨登場囉。	

span(class='slogan') 一個方便山友們查詢山屋剩餘床位數量的網站
span(class='slogan') 每小時自動去把各個山屋最新的剩餘床位數量資料抓回來！
	