article#changelog

	p.date 2015.07.10, Version 1.6.1
	.divider
	ul.content
		li [新增] 天池山莊：天池山莊正式出現在山屋清單裡啦！
		li [新增] 抽屜式側邊欄山屋清單：山屋清單已經從網頁上方被移至網頁左側可以開關的抽屜裡囉，希望大家不會找不到才好 :p
		li [新增] 等待抽籤中人數圖表：為了因應 玉山、天池山莊、台灣山林悠遊網 三者的系統皆有排隊等待抽籤的機制，因此新增了一個圖表來呈現等待抽籤中的人數資訊。
		li [新增] 立即前往申請功能：在圖表區的右上方新增了該山屋的申請網站連結！
		<br>
		li [移除] 點按主管機關即可前往申請的功能
		li [移除] 網頁上方的山屋清單列表

	<br>

	p.date 2015.06.08, Version 1.4
	.divider
	ul.content
		li 「直接前往各山屋申請頁」：點按山屋餘額中，雪霸、玉山、太魯閣國家公園，以及台灣山林悠遊網的文字，即可直接前往各個山屋申請頁。
		li 「申請中人數」：山屋餘額中的長條圖，現在也會顯示申請中人數了。
		li 「更新日誌」：新增更新日誌頁。