p(id='contact')
	| 作者: yes <br>
	| email: hiiamyes.contact@gmail.com <br>
	| 如果想收到這個網站的更新消息，歡迎追蹤 
	a(href='https://www.facebook.com/pages/%E5%8F%B0%E7%81%A3%E5%B1%B1%E5%B1%8B%E9%A4%98%E9%A1%8D%E6%9F%A5%E8%A9%A2%E7%B6%B2/1605657763052625?ref=aymt_homepage_panel') Facebook 粉絲團
