#huts

	#loader(ng-show='isLoading')
			.loader-inner.ball-clip-rotate
				div

	#sidenav(ng-show='!isLoading' ng-class='{toggle: toggle}')
		div
			.topbar_group(ng-repeat='hutGroup in hutGroups')
				span.topbar_admin_name {{hutGroup._id.admin}}
				span.topbar_hut_name(
					ng-repeat='hutNameZh in hutGroup.hutNameZhs'
					ng-class='{selected: hutNameZh == hutNameZhSelected}'
					ng-click='hutNameClicked(hutNameZh)'
				) {{hutNameZh}}

	#content-chart(ng-class='{toggle: toggle}')

		#bar-chart
			<br>
			#title-bar(ng-show="updateDate != ''")
				div
					span {{hutNameZhSelected}}
					span 總床位數: {{capacity}}
					span(id='update-time') 資料更新時間: &nbsp;{{updateDate}}
					a(href='{{urlApply}}' target='blank') 立即前往申請！
			<br><br>
			div
				span(id='explain-remaining' ng-show="updateDate != ''") 剩餘床位數
				span(id='explain-waiting' ng-show="updateDate != ''") 候補中人數
			bar-chart-after-draw(data='dataAfterDraw')
			<br><br><br>
			div
				span(id='explain-draw-list' ng-show='dataBeforeDraw.length > 0') 已申請，等待抽籤中人數
			<br>
			bar-chart-before-draw(data='dataBeforeDraw' ng-show='dataBeforeDraw.length > 0')

		#toggle(ng-show='!isLoading' ng-click='toggleClicked()')
			img(src='images/qq.png')



