p(id='question').
	Ｑ：為什麼沒有天池山莊？<br>
	Ａ：因為它現在沒開放喔<br>
	<br>
	Ｑ：為什麼沒有九九山莊？<br>
	Ａ：同上，因為雪霸國家公園的大霸線現在沒開放喔<br>
	<br>
	Ｑ：為什麼...？<br>
	Ａ：同上，依此類推，沒有就是因為沒開放喔 >.^ <br>
	<br>
	Ｑ：不... 我想問的是為什麼排雲山莊沒有一個月以後的資料，官網上明明有啊？<br>
	Ａ：<br>
	<br>
	Ｑ：恩，那最後一個問題，能不能也顯示出申請中的人數啊？<br>
	Ａ：