p(id='question').
	Ｑ：為什麼沒有天池山莊？<br>
	Ａ：因為它現在沒開放喔。<br>
	<br>
	Ｑ：為什麼沒有九九山莊？<br>
	Ａ：同上，因為雪霸國家公園的大霸線現在沒開放喔。<br>
	<br>
	Ｑ：為什麼...<br>
	Ａ：同上，依此類推，沒有列出來的山屋就是因為現在沒有開放喔 >.^。<br>
	<br>
	Ｑ：不... 我想問的是，為什麼排雲山莊沒有一個月以後的資料？官網上明明有啊。<br>
	Ａ：好問題，這是因為，一個月以後的山屋都還在申請階段而已，尚未進行過抽籤，所以並沒有剩餘床位的資訊喔。<br>
	<br>
	Ｑ：好吧，那，能不能也請你順便顯示出，正在排隊申請某某山屋的人數呀？如果太多人在排我們就不想去申請了。<br>
	Ａ：好的，我想這個功能在下一次的更新時就會有囉！