doctype html
html(ng-app='hutCrawler')
	head
		title 台灣登山申請查詢

		//- angular
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
		script(src='scripts/angular/controller.js')

		//- css
		link(rel='stylesheet', href='compass/css/index.css')

		//- loaders.css
		link(rel='stylesheet', href='../bower_components/loaders.css/loaders.min.css')

	body(ng-controller='hutCrawlerCtrl')

		#container
			#background
				#cover

			//- Design Ref: http://codepen.io/iremlopsum/pen/OVMxzp?editors=110
			#content
				#titlebar
					span 聯絡我
					span 常見問題
					span 台灣山屋查詢網
					span 關於我
				
				#loader(ng-show='isLoading')
					.loader-inner.ball-clip-rotate
						div

				#topbar
					.topbar_group(ng-repeat='hutGroup in hutGroups', ng-class='adminColor[$index%2]')
						.topbar_admin
							span.topbar_admin_name(
								ng-click='adminClicked($index)'
							) {{hutGroup._id.admin}}
						.topbar_hut
							span.topbar_hut_name(
								ng-repeat='hutNameZh in hutGroup.hutNameZhs'
								ng-class='{selected: hutNameZh == hutNameZhSelected}'
								ng-click='hutNameClicked(hutNameZh)'
							) {{hutNameZh}}
				#divider(ng-show='!isLoading')
				#calendar
					table
						tr
							th(ng-repeat='title in calendarTitles') {{title}}
						tr.content(ng-repeat='hutApplicableInOneWeek in hutApplicableAll')
							td(ng-repeat='hut in hutApplicableInOneWeek') 
								p(id='date' ng-if='hut.date!=null') {{hut.date | date:'MM/dd'}}
								//- p(ng-if='hut.remaining!=null') {{hut.remaining}} / {{hut.applying}}
								p(ng-if='hut.remaining!=null') 剩餘: {{hut.remaining}}
								p(ng-if='hut.applying!=null') 申請中: {{hut.applying}}

				//- #copyright Copyright &copy; 2015 Tsung-Yeh Lee.

		