doctype html
html(ng-app='hutCrawler')
	head
		title 台灣登山申請查詢

		//- angular
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
		script(src='scripts/angular/controller.js')

	body(ng-controller='hutCrawlerCtrl')

		h1 三六九山莊剩餘床位

		table
			tr(ng-repeat='hutsApplicableInOneWeek in hutsApplicableAll')
				td(ng-repeat='hut in hutsApplicableInOneWeek') 
					p {{hut.date}}
					p {{hut.remaining}}




		
			