doctype html
html(ng-app='hutCrawler')
	head
		title 台灣登山申請查詢

		//- angular
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
		script(src='scripts/angular/controller.js')

		//- css
		link(rel='stylesheet', href='compass/css/index.css')

	body(ng-controller='hutCrawlerCtrl')

		//- h1 剩餘床位
		#background
			#gg
			#ff

		#content
			#sidebar
				ul
					li(ng-repeat='hut in huts' ng-click='hutNameClicked(hut.nameZh)') {{hut.nameZh}}
			
			#calendar
				table
					tr
						th 日
						th 一
						th 二
						th 三
						th 四
						th 五
						th 六
					tr(ng-repeat='hutApplicableInOneWeek in hutApplicableAll')
						td(ng-repeat='hut in hutApplicableInOneWeek') 
							p(id='date' ng-if='hut.date!=null') {{hut.date | date:'MM/dd'}}
							p(ng-if='hut.remaining!=null') 剩餘: {{hut.remaining}}
							p(ng-if='hut.applying!=null') 申請中: {{hut.applying}}
							p(ng-if='hut.waiting!=null') 候補中: {{hut.waiting}}



		