#about
	div
		img(src='images/about1.jpg' width='30%')
		span 認識

	div
		span 交往
		img(src='images/about3.jpg' width='30%')

	div
		img(src='images/cover.jpg' width='30%')
		span 求婚

	div
		span 婚紗
		img(src='images/ya.jpg' width='30%')
