doctype html
html(ng-app='wedding')
	head
		title 我們要結婚了

		//- analysis related
		//- script(src='scripts/analysis.js')

		//- angular
		script(src='../bower_components/angular/angular.js')
		//- angular route
		script(src='../bower_components/angular-route/angular-route.js')
		//- angular material
		meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='stylesheet' href='../bower_components/angular-material/angular-material.css')
		script(src='../bower_components/angular-aria/angular-aria.js')
		script(src='../bower_components/angular-animate/angular-animate.js')
		script(src='../bower_components/angular-material/angular-material.js')
		//- angular controller
		script(src='scripts/angular/controller.js')
		//- material font-icon library
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

		//- css
		link(rel='stylesheet' href='compass/css/index.css')

		//- moment.js
		//- http://momentjs.com/
		script(src='../bower_components/moment/moment.js')

	body(ng-controller='weddingCtrl')

		#content(ng-view)

		#titlebar
			a(href='#/about') 我們的故事
			a(href='#/invitation') 來參加我們的婚禮吧
			a(href='#/gallery') 相片＆影片集







