doctype html
html(ng-app='wedding')
	head
		title 我們要結婚了

		//- analysis related
		//- script(src='scripts/analysis.js')

		//- angular
		script(src='../bower_components/angular/angular.js')
		//- angular route
		script(src='../bower_components/angular-route/angular-route.js')
		//- angular material
		meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='stylesheet' href='../bower_components/angular-material/angular-material.css')
		script(src='../bower_components/angular-aria/angular-aria.js')
		script(src='../bower_components/angular-animate/angular-animate.js')
		script(src='../bower_components/angular-material/angular-material.js')
		//- angular controller
		script(src='scripts/angular/controller.js')
		
		//- css
		link(rel='stylesheet' href='compass/css/index.css')

		//- moment.js
		//- http://momentjs.com/
		script(src='../bower_components/moment/moment.js')

	body(ng-controller='weddingCtrl')

		img#cover(src='images/cover2.jpg' width='100%')

		md-radio-group
			md-radio-button(value='Apple') Apple
			md-radio-button() Banana
			md-radio-button Mango
		md-radio-group

		md-button(ng-click='gggg()') GGGGG

		#titlebar
			a 我們的故事
			a 來參加我們的婚禮吧
			a 相片＆影片集

		img(src='images/about.jpg' width='30%')

		iframe(width='600' height='450' frameborder='0' style='border:0' src='https://www.google.com/maps/embed/v1/place?q=%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8D%97%E7%81%AB%E8%BB%8A%E7%AB%99&key=AIzaSyABC21SJseqpz-4YDXZ8eaE34xyAqYGYVo')





