
span(class='beautiful-input')
	form(ng-submit='pwInputted()')
		input(placeholder='P.W.', ng-model='pw', ng-class='{focus:focus, blur:blur}', ng-focus='focus=true; blur=false;', ng-blur='focus=false; blur=true;')
		label 姓名
